<ion-view view-title="Home" title="Home">
	<ion-nav-title>HOME</ion-nav-title>

	<ion-content class="center content_size">

      <div class="row">
        <div class="col"><a href="#/ngo" class="img center img_ngo"></a></div>
        <div class="col"><a href="#/cityhall" class="img center img_cityhall"></a></div>
        <div class="col"><a href="#/donors" class="img center img_donors"></a></div>
        <div class="col"><a href="#/audit" class="img center img_audit"></a></div>
      </div>

	</ion-content>
</ion-view>
