/* Empty. Add your own CSS if you like */

/* GERAL */

body {
	margin: 0 auto;
	width: 100%;
	width: 100vw;
	min-width: 100%;
	min-width: 100vw;

	height: 100%;
	height: 100vh;
	min-height: 100%;
	min-height: 100vh;
}

body, h1, font {
	font-family: Arial, Helvetica, sans-serif;
}

.center {
	position: relative;
	float: none;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

.content_size {
	width:60%;
	max-width:640px;
	height: 100%;
	height: 100vh;
}
.content_size-center {
	margin-left: auto;
	margin-right: auto;
	width:60%;
	max-width:640px;
}
.bar {
	margin-left: auto !important;
	margin-right: auto !important;
	width:60% !important;
	max-width:640px !important;
}
@media all and (max-width: 414px) {
	.content_size {
		width:100%;
	}
	.content_size-center {
		width:100%;
	}
	.bar {
		width: 100% !important;
	}
}

.errorMsg {
	color:#d10019;
	padding:20px;
	font-weight: bold;
}

.item-button-right > .button,
.item-button-right .item-content > .button,
.item-button-right > .buttons,
.item-button-right .item-content > .buttons {
  top: 4px;
}

/* HEADER */

.icon.ion-ios-arrow-right {
	font-size:90%;
}

/* HOME */

.font_home {
	font-size: 90%;
}
.disabled {
	color:#9B9B9B;
}

.img {
	width: 80px;
	height: 80px;
}

@media all and (min-width: 321px) and (max-width: 413px) {
	.img {
		width: 70px;
		height: 70px;
	}
}
@media all and (max-width: 320px) {
	.img {
		width: 60px;
		height: 60px;
	}
}
.img_ngo {
  background: url(../img/ngo.svg);
  background-size: 100% auto;
}
.img_cityhall {
  background: url(../img/cityhall.svg);
  background-size: 100% auto;
}
.img_donors {
  background: url(../img/donors.svg);
  background-size: 100% auto;
}
.img_audit {
  background: url(../img/audit.svg);
  background-size: 100% auto;
}

/* HOJE */

.item-assertive-0 {
    background-color: #FDDDD0 !important;
	color: black !important;
}
.item-assertive-1 {
    background-color: #ED1C24 !important;
}

.img_alimentacao {
	background: url(../img/comida.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	cursor: pointer;
}
.img_alimentacao_h {
	background: url(../img/comida_h.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.img_alimentacao_d {
	background: url(../img/comida_d.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.img_bemestar {
	background: url(../img/bemestar.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	cursor: pointer;
}
.img_bemestar_h {
	background: url(../img/bemestar_h.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.img_bemestar_d {
	background: url(../img/bemestar_d.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.img_info {
	background: url(../img/info.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	cursor: pointer;
}
.img_info_h {
	background: url(../img/info_h.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.img_info_d {
	background: url(../img/info_d.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.img_cardapio {
	background: url(../img/cardapio.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	cursor: pointer;
}
.img_cardapio_h {
	background: url(../img/cardapio_h.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.img_cardapio_d {
	background: url(../img/cardapio_d.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.refeicoes {
	background-image:url('../img/refeicoes_sprite.svg');
	width: 80px;
	height: 80px;
	background-size: 480px 400px;
}
.empty {
	background-position: -400px -160px;
}
.empty.break {
	background-position: -400px -160px;
}
.eval0.break {
	background-position: -400px -160px;
}
.eval2.break {
	background-position: -320px -160px;
}
.eval3.break {
	background-position: -240px -160px;
}
.eval4.break {
	background-position: -160px -160px;
}
.eval5.break {
	background-position: -80px -160px;
}
.eval6.break {
	background-position: 0px -160px;
}
.empty.fruit {
	background-position: -400px -240px;
}
.eval0.fruit {
	background-position: -400px -240px;
}
.eval2.fruit {
	background-position: -320px -240px;
}
.eval3.fruit {
	background-position: -240px -240px;
}
.eval4.fruit {
	background-position: -160px -240px;
}
.eval5.fruit {
	background-position: -80px -240px;
}
.eval6.fruit {
	background-position: 0px -240px;
}
.empty.drink {
	background-position: -400px -320px;
}
.eval0.drink {
	background-position: -400px -320px;
}
.eval2.drink {
	background-position: -320px -320px;
}
.eval3.drink {
	background-position: -240px -320px;
}
.eval4.drink {
	background-position: -160px -320px;
}
.eval5.drink {
	background-position: -80px -320px;
}
.eval6.drink {
	background-position: 0px -320px;
}
.empty.food {
	background-position: -400px -80px;
}
.eval0.food {
	background-position: -400px -80px;
}
.eval2.food {
	background-position: -320px -80px;
}
.eval3.food {
	background-position: -240px -80px;
}
.eval4.food {
	background-position: -160px -80px;
}
.eval5.food {
	background-position: -80px -80px;
}
.eval6.food {
	background-position: 0px -80px;
}
.empty.salad {
	background-position: -400px 0px;
}
.eval0.salad {
	background-position: -400px 0px;
}
.eval2.salad {
	background-position: -320px 0px;
}
.eval3.salad {
	background-position: -240px 0px;
}
.eval4.salad {
	background-position: -160px 0px;
}
.eval5.salad {
	background-position: -80px 0px;
}
.eval6.salad {
	background-position: 0px 0px;
}

@media all and (max-width: 320px) {
	.refeicoes {
		background-image:url('../img/refeicoes_sprite_4s.svg');
		width: 50px;
		height: 50px;
		background-size: 300px 252px;
	}
	.empty {
		background-position: -250px -100px;
	}
	.empty.break {
		background-position: -250px -100px;
	}
	.eval0.break {
		background-position: -250px -100px;
	}
	.eval2.break {
		background-position: -200px -100px;
	}
	.eval3.break {
		background-position: -150px -100px;
	}
	.eval4.break {
		background-position: -100px -100px;
	}
	.eval5.break {
		background-position: -50px -100px;
	}
	.eval6.break {
		background-position: 0px -100px;
	}
	.empty.fruit {
		background-position: -250px -150px;
	}
	.eval0.fruit {
		background-position: -250px -150px;
	}
	.eval2.fruit {
		background-position: -200px -150px;
	}
	.eval3.fruit {
		background-position: -150px -150px;
	}
	.eval4.fruit {
		background-position: -100px -150px;
	}
	.eval5.fruit {
		background-position: -50px -150px;
	}
	.eval6.fruit {
		background-position: 0px -150px;
	}
	.empty.drink {
		background-position: -250px -200px;
	}
	.eval0.drink {
		background-position: -250px -200px;
	}
	.eval2.drink {
		background-position: -200px -200px;
	}
	.eval3.drink {
		background-position: -150px -200px;
	}
	.eval4.drink {
		background-position: -100px -200px;
	}
	.eval5.drink {
		background-position: -50px -200px;
	}
	.eval6.drink {
		background-position: 0px -200px;
	}
	.empty.food {
		background-position: -250px -50px;
	}
	.eval0.food {
		background-position: -250px -50px;
	}
	.eval2.food {
		background-position: -200px -50px;
	}
	.eval3.food {
		background-position: -150px -50px;
	}
	.eval4.food {
		background-position: -100px -50px;
	}
	.eval5.food {
		background-position: -50px -50px;
	}
	.eval6.food {
		background-position: 0px -50px;
	}
	.empty.salad {
		background-position: -250px 0px;
	}
	.eval0.salad {
		background-position: -250px 0px;
	}
	.eval2.salad {
		background-position: -200px 0px;
	}
	.eval3.salad {
		background-position: -150px 0px;
	}
	.eval4.salad {
		background-position: -100px 0px;
	}
	.eval5.salad {
		background-position: -50px 0px;
	}
	.eval6.salad {
		background-position: 0px 0px;
	}
}

/* BOLETOS */

.boletos .card a {
	text-decoration: none;
}
.boletos .item-thumbnail-left,
.boletos .item-thumbnail-left .item-content {
	padding-left: 66px;
	min-height: 60px;
}
.boletos .item-thumbnail-left > img:first-child,
.boletos .item-thumbnail-left .item-image,
.boletos .item-thumbnail-left .item-content > img:first-child,
.boletos .item-thumbnail-left .item-content .item-image {
	max-width: 40px !important;
	max-height: 40px !important;
}

.vencido {
	background-color: #FDDDD0;
}

/* FOTOS */

.fotos .card {
  box-shadow: none !important;
  padding:0px !important;
  margin:3px !important;
}

.gallery {
	width: auto !important;
	height: auto !important;
	max-width: 300px !important;
	max-height: 168px !important;
}

.fotos .item-avatar,
.fotos .item-avatar .item-content,
.fotos .item-avatar-left,
.fotos .item-avatar-left .item-content {
	min-height: 70px !important;
}

.fotos .item-image img:first-child,
.fotos .item-image .list-img {
	width: 100%;
}
.doc {
	width: 100px !important;
	padding: 10px !important;
}
p.center {
	text-decoration: none !important;
}

/* ATIVIDADE */

.atividade {
	background-color: #93A1A9;
	color: white;
	text-align: right;
}

/* CALENDARIO */

.calendario {
	background-color: #00569E;
	color: white;
	text-align: right;
}
.calendario.past {
	background-color: #93A1A9;
}

/* CONTATO */

.item > .dial {
	border-color: #FCAF17;
	background-color: #FCAF17;
	color: black;
}

/* MEUS DADOS */

.contato .item-content {
	padding: 0px !important;
}

.border {
	border: 1px solid #ddd !important;
}

.errorMsg {
	color:#d10019;
	text-align:center;
	padding:20px;
	font-weight: bold;
}

.cropArea {
    background: transparent;
    overflow: hidden;
    width:280px;
    height:280px;
    border-radius: 140px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

/* CHEGANDO */

#map {
  width: 100%;
  height: 60%;
  height: 60vh !important;
}

/* MESSAGES */

.messages.item-text-wrap p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* number of lines to show */
	line-height: 1;        /* fallback */
	max-height: 2;
	font-size: 0.8em;
	color: #aaa;
	padding-top:6px;
}
.assunto {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1; /* number of lines to show */
	line-height: 1;        /* fallback */
	max-height: 1;
	font-size: 0.9em;
	color: #888;
}

.sprite_msg {
	width: 15px;
	height: 53px;
	background-image:url('../img/msg_icons.png');
	background-repeat:no-repeat;
	background-size: 150px 53px;
	float: left;
	margin-right: 15px;
}
.msg_empty {
	background-position: 0px 0px;
}
.msg_notreaded {
	background-position: -15px 0px;
}
.msg_notreaded.msg_attach {
	background-position: -30px 0px;
}
.msg_attach {
	background-position: -45px 0px;
}
.msg_important {
	background-position: -60px 0px;
}
.msg_important.msg_attach {
	background-position: -75px 0px;
}
.msg_forward {
	background-position: -90px 0px;
}
.msg_forward.msg_important {
	background-position: -105px 0px;
}
.msg_forward.msg_attach {
	background-position: -120px 0px;
}
.msg_forward.msg_important.msg_attach {
	background-position: -135px 0px;
}

.item-divider-new.color {
	color: #000;
	background-color:#feefd1 !important;
}
.item-divider-new.color-separator {
	background-color:#feefd1 !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	min-height: 6px !important;
}

.selectable{
	-webkit-user-select: auto;
}

.msg_header {
	background-color: #eee;
}

.msg_subject {
	padding:10px;
	background-color: #ddd;
}

#msgCORPO {
	padding-top: 10px;
}
@media all and (max-width: 414px) {
	#msgCORPO {
		padding: 10px;
	}
}

.ck-statusbar {
	margin-top: 20px !important;
}

.cke_button__uploadfile_label {
  display: inline !important;
  font-weight: bold;
  margin-left: 6px;
}

*[contenteditable] {
	-webkit-user-select: text !important;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
/* Fix for IE 6: */
*html .fileinput-button {
  line-height: 22px;
  margin: 1px -3px 0 0;
}
/* Fix for IE 7: */
* + html .fileinput-button {
  margin: 1px 0 0 0;
}

/* TURMA */

.teacher {
	background-color: #DEEED2;
}

/* ONBOARDING */

.onboard .scroll {
	height: 100% !important;
	height: 100vh !important;
}

.onboard .slider {
	height: 100%;
}
.onboard .slider-pager {
	bottom: 10px;
}
.onboard .slider .pg1 {
	background-color: #fff;
}
.onboard .slider .pg2 {
	background-color: #BD252C;
}
.onboard .slider .pg3 {
	background-color: #F2B229;
}
.onboard .slider .pg4 {
	background-color: #3AAB47;
}
.onboard .slider .pg5 {
	background-color: #223D7F;
}
.onboard .slider .button {
	position:fixed;
	right:0px;
}
.onboard .slider img {
	display: block;
	margin-top: 50px;
	width:240px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
}
.onboard .mensagem {
	position: fixed;
	bottom:0px;
	width:100%;
	height:60px;
	line-height: 60px;
	background-color:rgba(255, 255, 255, 0.4);
	text-align: center;
	font-size:1.2em;
}
